.notification {
    position: absolute;
    bottom: 5px;
    left: 50px;
    width: max-content;
    padding: 20px 15px;
    background-color: var(--bg-color-1);
    color: #f6f5f9;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    animation: fade-in 4s linear forwards;
    z-index: 9999;
    border-radius: 15px;
}

.notification_progress {
    position: absolute;
    bottom: 10px;
    left: 15px;
    width: calc(100% - 30px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background-image: linear-gradient(to right, #539bdb, #3250bf);
    border-radius: inherit;
    animation: load 3s 0.25s linear forwards;
}

@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes load {
    to {
        transform: scaleX(1);
    }
}