.loginWrapper {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.1px);
    -webkit-backdrop-filter: blur(10.1px);
    width: 50%;
    margin: 0 auto;
    padding-top: 30px;
}

.loginWrapper section {
    display: flex;
    flex-direction: column;
    /* Cambio: Establecer la dirección de flexión en column */
    align-items: center;
}

.loginWrapper form {
    padding: 2em;
}

.loginWrapper label {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.loginWrapper h2 {
    color: white;
}

.loginWrapper label p {
    margin-right: 1em;
    color: #FFFFFF;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"] {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 13px;
    box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    min-width:120px;
}

.submit {
    width: 50%;
    margin: 0.5em;
    padding: 0.5em;
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 16px;
}

.form_back {
    display: flex;
    justify-content: center;
}

.form {
    width: 100%;
    padding: 5px;
}

.inputs{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.inputs p {
    flex: 1 1 20%;
}

.inputs input {
    flex: 1 1 70%;
}