.calendar_container {
    display: grid;
    grid-template-columns: fr 1fr;
    /* Dos columnas de tamaño igual */
    /* Espacio entre las columnas */
}

.calendar {
    display: flex;
    justify-content: center;
    color: cadetblue;
}

.calendar_container {
    border-radius: 20px;
    padding: 10px;
}

.events {
    color: #333;
    margin: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.buttons {
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius: 5px;
    margin-bottom: 12px;
    padding: 6px;
}

.buttons:focus,
.buttons:active {
    background-color: white;
    color: black;
}