.button {
    color: white;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
}
  
.button::before {
    margin-left: auto;
}
  
.button::after, .button::before {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--bg-color-2);
    display: block;
    transition: 0.5s;
}
  
.button:hover::after, .button:hover::before {
    width: 100%;
}