@import-normalize;

@font-face {
    font-family: "Nunito Sans";
    src: url('./fonts/Nunito/NunitoSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nunito Sans";
    src: url('./fonts/Nunito/NunitoSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body {
    margin: 0;
    
    font-family: 'Nanuto Sans', sans-serif;
    letter-spacing: .025em;
}